body{
    margin: 0 auto;
    padding: 0;
    max-width: 80%;
    background-color: lightskyblue;
}
.container{
    background-color: darkslateblue;
    width: 1100px;
    height: 700px;
    text-align: center; 
    vertical-align: middle;
    position: absolute;
    /* margin-right: 0px; */
}
h1{
   font-size: 56px;
   color: rgb(245, 33, 18); 
   text-align: center;
   margin-top: 100px;
}
div, h2{
    font-size: 26px;
    color: rgb(10, 145, 164); 
    text-align: center;
    
 }
 span{
     border: 2px solid greenyellow;
     /* margin-top: 50px; */
 }